body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f6fa;
  text-align: center;
  margin: 0;
}

/* Header */
h1 {
  background: #2f3640;
  color: white;
  padding: 20px;
  margin: 0;
}

/* Links */
a {
  margin: 10px;
  text-decoration: none;
  color: #0984e3;
  font-weight: bold;
}

/* Product container */
#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

/* Card design */
.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  width: 200px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Buttons */
button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #0984e3;
  color: white;
}

button:hover {
  background: #0652DD;
}